input,
button,
textarea,
select {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background: transparent;
  appearance: none;
}

.market-object-modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.market-object-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 500px;
  transform: translate(-50%, -50%);
}
.market-object-buttons {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#market-object-buy-button {
  background-color: rgb(136, 201, 40);
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border: 4px solid white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#market-object-close-button {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border: 4px solid white;
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
